<main>
    <div class="grid-item">
        <div class="grid-subpart">
            Cycle #
        </div>
        <div class="grid-subpart">
            Quick Info
        </div>
    </div>
    <div class="grid-item">
        <div class="grid-subpart">
            Cycle #
        </div>
        <div class="grid-subpart">
            Quick Info
        </div>
    </div>
    <div class="grid-item">
        <div class="grid-subpart">
            Cycle #
        </div>
        <div class="grid-subpart">
            Quick Info
        </div>
    </div>
    <div class="grid-item">
        <div class="grid-subpart">
            Cycle #
        </div>
        <div class="grid-subpart">
            Quick Info
        </div>
    </div>
    <div class="grid-item">
        <div class="grid-subpart">
            Cycle #
        </div>
        <div class="grid-subpart">
            Quick Info
        </div>
    </div>
    <div class="grid-item">
        <div class="grid-subpart">
            Cycle #
        </div>
        <div class="grid-subpart">
            Quick Info
        </div>
    </div>
    <div class="grid-item">
        <div class="grid-subpart">
            Cycle #
        </div>
        <div class="grid-subpart">
            Quick Info
        </div>
    </div>
    <div class="grid-item">
        <div class="grid-subpart">
            Cycle #
        </div>
        <div class="grid-subpart">
            Quick Info
        </div>
    </div>
    <div class="grid-item">
        <div class="grid-subpart">
            Cycle #
        </div>
        <div class="grid-subpart">
            Quick Info
        </div>
    </div>
</main>