<div class="column">
    <div class="subpart">Workout Name</div>
    <div class="subpart">Main Exercise</div>
    <div class="subpart">Sets, weights, reps</div>
</div>
<div class="column">
    <div class="subpart">Workout Name</div>
    <div class="subpart">Main Exercise</div>
    <div class="subpart">Sets, weights, reps</div>
</div>
<div class="column">
    <div class="subpart">Workout Name</div>
    <div class="subpart">Main Exercise</div>
    <div class="subpart">Sets, weights, reps</div>
</div>
<div class="column">
    <div class="subpart">Workout Name</div>
    <div class="subpart">Main Exercise</div>
    <div class="subpart">Sets, weights, reps</div>
</div>