<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/page-layout.css">
    <link rel="stylesheet" href="/calendar.css">
</head>

<body>
    <%- include("../partials/header.ejs")%>
        <main>
            <div class="grid-item">
                <div class="subpart">Squat</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
            </div>
            <div class="grid-item">
                <div class="subpart">Bench Press</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
            </div>
            <div class="grid-item">
                <div class="subpart">Deadlift</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
            </div>
            <div class="grid-item">
                <div class="subpart">Overhead Press</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
            </div>
            <div class="grid-item">
                <div class="subpart">Squat</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
            </div>
            <div class="grid-item">
                <div class="subpart">Bench Press</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
            </div>
            <div class="grid-item">
                <div class="subpart">Deadlift</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
            </div>
            <div class="grid-item">
                <div class="subpart">Overhead Press</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
            </div>
            <div class="grid-item">
                <div class="subpart">Squat</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
            </div>
            <div class="grid-item">
                <div class="subpart">Bench Press</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
            </div>
            <div class="grid-item">
                <div class="subpart">Deadlift</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
            </div>
            <div class="grid-item">
                <div class="subpart">Overhead Press</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
                <div class="subpart">Weights and Reps</div>
            </div>
        </main>
</body>

</html>