<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <% if (user) { %>
    <div>
      <a href="/auth/logout">Logout</a>
    </div>
    <h1>Welcome to your workout dashboard, <%= user.username %>!</h1>
    <main>
      <div>Current Program</div>
      <div>Previous Programs</div>
      <div>Create a new Program</div>
    </main>
  <% } else { %>
    <h1>Welcome to the app, guest.</h1>
    <p>
      <a href="/auth/register">Register</a> or
      <a href="/auth/login">Login</a>.
    </p>
  <% } %>
</body>
</html>
