<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/three-column.css" rel="stylesheet">
  <title><%= user.username %> Dashbaord</title>
</head>

<body>
    <div>
      <a href="/auth/logout">Logout</a>
    </div>
    <h1>Welcome to your workout dashboard, <%= user.username %>!</h1>
    <main>
      <div class="program" id="current">
        Current Program
      </div>
      <div class="program" id="previous">
        Previous Programs
      </div>
      <div class="program">
        Create a new Program
        <button type="submit" ><a href="/programs/new">Start New Program</a></button>
      </div>
    </main>
</body>

</html>

