* {
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

main > div {
    border-style: solid;
    width: 33dvw;
    height: 50dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}