<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program Templates</title>
</head>

<body>
    <div>
        <a href="/auth/logout">Logout</a>
    </div>
    <h1>Click on a program to learn more.</h1>
    <main>
        <div class="program">
            Program #1
            <button type="submit"><a href="/programs/weeks/index">Learn More</a></button>
        </div>
        <div class="program">
            Program #2
            <button type="submit"><a href="">Learn More</a></button>
        </div>
        <div class="program">
            Program #3
            <button type="submit"><a href="">Learn More</a></button>
        </div>
        <div class="program">
            Create your own program!
            <button type="submit"><a href="/programs/new">Learn More</a></button>
        </div>
    </main>
</body>

</html>