<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/page-layout.css">
    <link rel="stylesheet" href="/grid-layout.css">
</head>

<body>
        <main>
            <div class="grid-item">
                <div class="subpart">
                    <a href="/programs/show">Program #</a>
                </div>
                <div class="subpart">
                    Quick Info
                </div>
            </div>
            <div class="grid-item">
                <div class="subpart">
                    Program #
                </div>
                <div class="subpart">
                    Quick Info
                </div>
            </div>
            <div class="grid-item">
                <div class="subpart">
                    Program #
                </div>
                <div class="subpart">
                    Quick Info
                </div>
            </div>
            <div class="grid-item">
                <div class="subpart">
                    Program #
                </div>
                <div class="subpart">
                    Quick Info
                </div>
            </div>
            <div class="grid-item">
                <div class="subpart">
                    Program #
                </div>
                <div class="subpart">
                    Quick Info
                </div>
            </div>
            <div class="grid-item">
                <div class="subpart">
                    Program #
                </div>
                <div class="subpart">
                    Quick Info
                </div>
            </div>
            <div class="grid-item">
                <div class="subpart">
                    Program #
                </div>
                <div class="subpart">
                    Quick Info
                </div>
            </div>
            <div class="grid-item">
                <div class="subpart">
                    Program #
                </div>
                <div class="subpart">
                    Quick Info
                </div>
            </div>
            <div class="grid-item">
                <div class="subpart">
                    Program #
                </div>
                <div class="subpart">
                    Quick Info
                </div>
            </div>
        </main>
</body>

</html>