<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a program</title>
</head>
<body>
    <h1>Create your own program!</h1>
    <form action="/new" method="post">
        <div>
            <label for="programName">What do you want to call your program?</label>
            <input type="text" id="programName" name="programName" required>
        </div>
        <div>
            <label for="goal">What is the goal of this program?</label>
            <input type="area" id="goal" name="goal" required>
        </div>
        <div>
            <label for="numberOfWeeks">Number of Weeks:</label>
            <input type="number" id="numberOfWeeks" name="numberOfWeeks" required min="1">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>