<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a program</title>
</head>
<body>
    <h1>Create your own program!</h1>
    form code for 3 pieces of information: 
    each piece of information has its own div
    each div has 1 label and 1 input
    each label has a for="" that matches the piece of information
    each input has a type matches the type of information you would expect
    each input has a name="" that matches the piece of information
    each input has an id="" that matches the label for=""
</body>
</html>