<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Click on a workout to learn more</h1>
    <div class="goal" id="week">
        <p>What is the goal?</p>
        <p>What's the duration?</p>
    </div>
    <main>
        <div>
            Workout 1
            <button type="submit"><a href="/programs/weeks/workouts/show">Learn More</a></button>
        </div>
        <div>
            Workout 2
            <button type="submit"><a href="/programs/weeks/workouts/show">Learn More</a></button>
        </div>
        <div>
            Workout 3
            <button type="submit"><a href="/programs/weeks/workouts/show">Learn More</a></button>
        </div>
        <div>
            Workout 4
            <button type="submit"><a href="/programs/weeks/workouts/show">Learn More</a></button>
        </div>
    </main>
</body>

</html>