<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="index.css" rel="stylesheet">
</head>

<body>
    <h1>Edit your workout</h1>
    <main>
        <div class="goal" id="workout">
            <p>What is the goal?</p>
            <p>What's the duration?</p>
        </div>
        <div class="workout" id="current">
            <p>Mobility</p>
            <p>Warm Up</p>
            <p>Main</p>
            <p>Supplemental</p>
            <p>Accessories</p>
        </div>
        <div class="workout" id="edit">
            <p>Mobility</p>
            <p>Warm Up</p>
            <p>Main</p>
            <p>Supplemental</p>
            <p>Accessories</p>
            <button type="submit"><a href="">Save Workout</a></button>
        </div>
    </main>
</body>

</html>